<?xml version="1.0" encoding="UTF-8" ?>
<root>
    <txn_node_num>1</txn_node_num>
    <txn_node_ip>
        <txn_ip>219.216.65.102</txn_ip>
        <txn_ip>172.27.91.224</txn_ip>
    </txn_node_ip>
    <storage_node_num>1</storage_node_num>
    <storage_node_ip>
        <storage_ip>202.199.13.218</storage_ip>
        <storage_ip>172.27.91.229</storage_ip>
    </storage_node_ip>
    <client_local_ip>202.199.13.218</client_local_ip>

    <txn_node_ip_index>0</txn_node_ip_index><!-- 0, 1, 2, ...-->
    <storage_ip_index>0</storage_ip_index><!-- 0, 1, 2, ...-->

    <epoch_size_us>10000</epoch_size_us><!-- us -->

    <cache_max_length>10000</cache_max_length> <!-- 10 min  600s 600000ms 60000 epochs-->
    <index_num>8</index_num><!-- for concurrency , atomic_counters' num-->

    <pack_thread_num>2</pack_thread_num>
    <cache_thread_num>4</cache_thread_num>
    <worker_thread_num>20</worker_thread_num>
    <send_client_thread_num>1</send_client_thread_num>

    <duration_time_us>0</duration_time_us>
    <test_client_num>2</test_client_num>
    <test_key_range>10000</test_key_range>
    <test_txn_op_num>10</test_txn_op_num>

    <sync_start>0</sync_start>

</root>
